<a href="https://colab.research.google.com/github/OswaldVc/Datos/blob/main/TP-5/Meteorolog%C3%ADa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![banner_meteorolog√≠a.jpg]()

In [1]:
#### ------- Importaci√≥n de las librerias necesarias ------- ####

import pandas as pd
import numpy as np
import glob

In [2]:
#### ------- Carga de datos--------------------------------- ####

!wget https://datosclima.es/capturadatos/Aemet2019-01.rar

--2022-09-16 20:37:41--  https://datosclima.es/capturadatos/Aemet2019-01.rar
Resolving datosclima.es (datosclima.es)... 95.217.108.87
Connecting to datosclima.es (datosclima.es)|95.217.108.87|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1456378 (1.4M) [application/x-rar-compressed]
Saving to: ‚ÄòAemet2019-01.rar.2‚Äô

Aemet2019-01.rar.2  100%[===================>]   1.39M  9.02MB/s    in 0.2s

2022-09-16 20:37:41 (9.02 MB/s) - ‚ÄòAemet2019-01.rar.2‚Äô saved [1456378/1456378]

In [3]:
#### ------- Instala unrar si es necesario--------------------------------- ####

!unrar e -o+ Aemet2019-01.rar

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from Aemet2019-01.rar

Extracting  Aemet2019-01-22.xls                                            2%  3%  OK
Extracting  Aemet2019-01-23.xls                                            5%  6%  OK
Extracting  Aemet2019-01-24.xls                                            9% 10%  OK
Extracting  Aemet2019-01-25.xls                                           12% 13%  OK
Extracting  Aemet2019-01-26.xls                                           15% 16%  OK
Extracting  Aemet2019-01-27.xls                                           18% 19%  OK
Extracting  Aemet2019-01-28.xls                                           22% 23%  OK
Extracting  Aemet2019-01-29.xls                                           25% 26%  OK
Extracting  Aemet2019-01-30.xls                                           28% 30%  OK
Extracting  Aemet2019-01-31.xls                                           32% 33%  OK
Extracting  Aemet2019-01-01.xls                                           36%  OK
Extracting  Aemet2019-01-02.xls                                           39%  OK
Extracting  Aemet2019-01-03.xls                                           42%  OK
Extracting  Aemet2019-01-04.xls                                           45%  OK
Extracting  Aemet2019-01-05.xls                                           48% 49%  OK
Extracting  Aemet2019-01-06.xls                                           51% 52%  OK
Extracting  Aemet2019-01-07.xls                                           54% 55%  OK
Extracting  Aemet2019-01-08.xls                                           57% 58%  OK
Extracting  Aemet2019-01-09.xls                                           60% 61%  OK
Extracting  Aemet2019-01-10.xls                                           63% 64%  OK
Extracting  Aemet2019-01-11.xls                                           66% 67%  OK
Extracting  Aemet2019-01-12.xls                                           69% 70%  OK
Extracting  Aemet2019-01-13.xls                                           72% 73%  OK
Extracting  Aemet2019-01-14.xls                                           75% 76%  OK
Extracting  Aemet2019-01-15.xls                                           78% 79%  OK
Extracting  Aemet2019-01-16.xls                                           81% 82%  OK
Extracting  Aemet2019-01-17.xls                                           84% 86%  OK
Extracting  Aemet2019-01-18.xls                                           88% 89%  OK
Extracting  Aemet2019-01-19.xls                                           91% 92%  OK
Extracting  Aemet2019-01-20.xls                                           95% 96%  OK
Extracting  Aemet2019-01-21.xls                                           98% 99%  OK
All OK

In [ ]:
!pip install --upgrade xlrd

In [4]:
all_files = glob.glob("Aemet2019-*.xls")

file_list = []
for f in all_files:
    data = pd.read_excel(f,skiprows=4)
    data['source_file'] = f # nueva columna conteniendo el nombre del fichero leido
    file_list.append(data)
df = pd.concat(file_list)

In [5]:
df.shape

(24707, 13)

In [6]:
df.head()

,Estaci√≥n,Provincia,Temperatura m√°xima (¬∫C),Temperatura m√≠nima (¬∫C),Temperatura media (¬∫C),Racha (km/h),Velocidad m√°xima (km/h),Precipitaci√≥n 00-24h (mm),Precipitaci√≥n 00-06h (mm),Precipitaci√≥n 06-12h (mm),Precipitaci√≥n 12-18h (mm),Precipitaci√≥n 18-24h (mm),source_file
0,Estaca de Bares,A Coru√±a,11.1 (15:10),6.0 (09:00),8.6,45 (12:40),36 (14:00),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls
1,As Pontes,A Coru√±a,11.2 (14:50),-3.2 (08:50),4.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls
2,A Coru√±a,A Coru√±a,12.8 (15:30),3.6 (08:10),8.2,18 (05:00),13 (04:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls
3,A Coru√±a Aeropuerto,A Coru√±a,11.9 (15:40),-2.5 (08:40),4.7,26 (23:00),17 (09:40),0.1,0.0,0.1,0.0,0.0,Aemet2019-01-05.xls
4,"Carballo, Depuradora",A Coru√±a,15.5 (16:40),-4.9 (09:20),5.3,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls

# Limpieza de datos

In [7]:

#### ------- Limpieza de datos ----------------------------------------------------------------------------------- ####
#### Podemos empezar renombrando las columnas para que sea mas sencillo usarlas y ocupen menos espacio en pantalla.####


df=df.rename(columns={'Estaci√≥n': 'estacion','Provincia':'provincia','Temperatura m√°xima (¬∫C)':'temp_max','Temperatura m√≠nima (¬∫C)':'temp_min',
                      'Temperatura media (¬∫C)':'temp_med','Racha (km/h)':'viento_racha','Velocidad m√°xima (km/h)':'viento_vel_max',
                      'Precipitaci√≥n 00-24h (mm)':'prec_dia','Precipitaci√≥n 00-06h (mm)':'prec_0_6h','Precipitaci√≥n 06-12h (mm)':'prec_6_12h',
                      'Precipitaci√≥n 12-18h (mm)':'prec_12_18h','Precipitaci√≥n 18-24h (mm)':'prec_18_24h','source_file':'fecha'})
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coru√±a,11.1 (15:10),6.0 (09:00),8.6,45 (12:40),36 (14:00),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls

In [8]:
df=df.replace(to_replace=r'.\(.+\)$', value='', regex=True)
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coru√±a,11.1,6.0,8.6,45,36,0.0,0.0,0.0,0.0,0.0,Aemet2019-01-05.xls

In [9]:
df.fecha=df.fecha.replace(regex={'Aemet':'',r'\.+xls':''})
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coru√±a,11.1,6.0,8.6,45,36,0.0,0.0,0.0,0.0,0.0,2019-01-05

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  object
 1   provincia       24707 non-null  object
 2   temp_max        23650 non-null  object
 3   temp_min        23650 non-null  object
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  object
 6   viento_vel_max  20203 non-null  object
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  object
dtypes: float64(6), object(7)
memory usage: 2.6+ MB

In [11]:
df=df.astype({'estacion': 'string','provincia': 'string', 'temp_max':'float64', 'temp_min':'float64', 
              'viento_racha':'float64', 'viento_vel_max':'float64', 'fecha': 'datetime64[ns]'})
        
df['fecha']=pd.to_datetime(df["fecha"].dt.strftime('%Y-%m-%d'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  string
 1   provincia       24707 non-null  string
 2   temp_max        23650 non-null  float64
 3   temp_min        23650 non-null  float64
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  float64
 6   viento_vel_max  20203 non-null  float64
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(10), string(2)
memory usage: 2.6 MB

In [12]:
df.isna().sum()

estacion             0
provincia            0
temp_max          1057
temp_min          1057
temp_med          1057
viento_racha      4635
viento_vel_max    4504
prec_dia          1341
prec_0_6h         1142
prec_6_12h        1142
prec_12_18h       1123
prec_18_24h       1144
fecha                0
dtype: int64

In [14]:
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))
df.isna().sum()

estacion          0
provincia         0
temp_max          0
temp_min          0
temp_med          0
viento_racha      0
viento_vel_max    0
prec_dia          0
prec_0_6h         0
prec_6_12h        0
prec_12_18h       0
prec_18_24h       0
fecha             0
dtype: int64

# An√°lisis de datos

In [16]:
df.describe()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h
count,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000
mean,12.386737,2.440713,7.432647,31.277007,18.745335,1.742887,0.417546,0.414117,0.402360,0.531064
std,4.565782,5.182111,4.334640,17.315768,10.663987,6.776043,2.123667,1.998200,1.938378,2.357515
min,-5.000000,-20.500000,-7.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.400000,-1.200000,4.500000,18.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.200000,1.800000,7.000000,26.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,15.500000,5.700000,10.000000,41.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,27.800000,19.100000,21.100000,146.000000,116.000000,133.000000,56.000000,38.600000,83.400000,41.300000

In [15]:
df.iloc[:,np.r_[0:8,12:13]].describe()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia
count,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000
mean,12.386737,2.440713,7.432647,31.277007,18.745335,1.742887
std,4.565782,5.182111,4.334640,17.315768,10.663987,6.776043
min,-5.000000,-20.500000,-7.400000,0.000000,0.000000,0.000000
25%,9.400000,-1.200000,4.500000,18.000000,13.000000,0.000000
50%,12.200000,1.800000,7.000000,26.000000,14.000000,0.000000
75%,15.500000,5.700000,10.000000,41.000000,23.000000,0.000000
max,27.800000,19.100000,21.100000,146.000000,116.000000,133.000000

Ahora vamos a mostrar 5 filas al azar como muestreo de los datos. Tambi√©n es un ejemplo de selecci√≥n de columnas por expresion regular (seleccionamos las que empiezan por el prefijo ¬´temp_¬ª)

In [17]:
df.filter(regex='^temp_*', axis=1).sample(5)

     temp_max  temp_min  temp_med
460      10.2      -4.2       3.0
410       9.3      -1.0       4.2
74        7.0       1.4       4.2
508      13.5      -3.0       5.3
199      16.3       6.7      11.5

***Medias por provincia***
A continuaci√≥n mostraremos la media de los valores de cada columna agrup√°ndolos por provincia.

***Podemos observar que el m√©todo es lo suficientemente inteligente para mostrarnos solo columnas de tipo num√©rico.***

Les mostramos el contenido de las 4 primeras provincias (por orden alfab√©tico) y de las 6 primeras columnas:**texto en negrita**

In [19]:
df.groupby("provincia").mean()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h
provincia,,,,,,,,,,
A Coru√±a,12.248185,4.561694,8.424194,31.377016,20.602823,4.229234,0.807460,1.427218,1.149194,0.868750
Alacant/Alicante,16.140054,4.381989,10.281989,29.481183,17.465054,0.059946,0.028226,0.003226,0.011828,0.016667
Albacete,12.405211,-0.278412,6.103474,25.235732,14.933002,0.191811,0.068983,0.060298,0.012407,0.062035
Almer√≠a,15.474194,5.455718,10.517595,33.011730,21.369501,0.085337,0.044575,0.017889,0.004692,0.018182
Araba/√Ålava,7.778629,1.143952,4.466532,27.677419,16.564516,6.011290,1.641532,1.420565,1.076613,1.916532
Asturias,10.174334,2.551473,6.390743,31.339411,17.619916,5.948387,1.461431,1.381627,1.561992,1.652875
Badajoz,14.013885,2.133801,8.075736,26.964937,17.248247,0.578822,0.110238,0.062693,0.086396,0.319495
Barcelona,11.299232,1.241628,6.286329,26.643625,15.129032,0.426575,0.133794,0.230261,0.015668,0.046851
Bizkaia,9.800293,4.056012,6.941935,35.131965,21.073314,8.703226,2.399120,2.234604,1.713783,2.363930
Burgos,7.724424,-1.237788,3.248848,34.384793,21.087558,2.215207,0.569355,0.430184,0.512903,0.707373
Cantabria,9.651443,2.073175,5.886587,33.741935,18.889643,7.948896,2.208489,2.096435,1.858404,2.064007
Castell√≥/Castell√≥n,11.996129,2.216129,7.110323,43.203226,25.635484,0.249032,0.071290,0.044839,0.056129,0.076774
Ceuta,16.893548,11.690323,14.296774,40.774194,19.548387,1.680645,0.470968,0.274194,0.129032,0.806452
Ciudad Real,12.404194,-0.006129,6.241613,25.916129,14.170968,0.587742,0.220000,0.137097,0.033871,0.219677
Cuenca,11.266501,-1.589826,4.856576,28.518610,16.650124,0.466005,0.160298,0.040695,0.029280,0.235732
C√°ceres,12.883315,2.557286,7.725584,29.864294,17.739711,1.080979,0.196997,0.060845,0.215017,0.608231
C√°diz,16.000000,6.196989,11.107957,31.255914,19.180645,1.446452,0.436774,0.270538,0.089462,0.650538
C√≥rdoba,14.098280,1.827097,7.996344,25.292473,15.795699,0.571183,0.159140,0.096989,0.031828,0.304301
Gipuzkoa,8.967972,3.483871,6.232719,30.444700,15.587558,9.523502,2.281336,2.422811,1.852074,2.996083
Girona,11.927514,-0.062619,5.967362,35.110057,18.074004,0.401518,0.022960,0.146679,0.156357,0.075522
Granada,14.245968,2.816667,8.613172,27.102151,16.680108,0.327419,0.132796,0.117204,0.034946,0.042473
Guadalajara,10.622581,-1.476344,4.629391,26.093190,19.835125,0.543011,0.154839,0.079570,0.111111,0.197491
Huelva,15.932258,4.660829,10.300000,25.993088,15.781106,0.580184,0.124885,0.020046,0.105300,0.330415
Huesca,9.066532,-1.090457,3.991398,35.239247,19.622312,1.340591,0.204570,0.383199,0.369489,0.383602
Illes Balears,14.279626,4.947538,9.617317,36.302207,20.713073,1.307046,0.284465,0.233701,0.337351,0.469015
Ja√©n,12.598387,2.073118,7.369892,22.690860,12.946237,0.774731,0.233333,0.294892,0.033333,0.213172
La Rioja,8.340323,0.946774,4.641129,33.762097,20.310484,1.975806,0.418952,0.408468,0.496371,0.652016
Las Palmas,18.730645,12.237903,15.491398,35.956093,22.041219,0.416398,0.113710,0.083244,0.089337,0.180018
Le√≥n,9.438018,-1.858986,3.831106,29.721198,18.536866,3.265207,0.791935,0.815668,0.954608,0.781797
Lleida,8.456935,-1.887258,3.315161,25.950000,15.535484,0.922258,0.115323,0.313226,0.353871,0.213710
Lugo,9.973607,2.389150,6.192082,23.290323,13.604106,4.251613,0.985337,1.107918,1.202346,0.968328
Madrid,11.298065,-0.989194,5.198710,29.345161,17.270968,0.807903,0.196935,0.096613,0.193871,0.320968
Melilla,17.283871,10.203226,13.745161,39.645161,21.032258,0.438710,0.296774,0.025806,0.006452,0.109677
Murcia,16.136962,3.941398,10.049328,28.060484,17.313172,0.027151,0.015054,0.007930,0.004167,0.000000
M√°laga,16.525367,7.041496,11.818328,30.662757,17.719941,0.445455,0.168622,0.110411,0.021261,0.145161
Navarra,8.599839,1.059032,4.835000,36.161290,20.751613,6.264677,1.399032,1.738548,1.406452,1.765161
Ourense,10.710484,-0.311022,5.224194,20.376344,12.602151,3.211828,0.620161,0.652688,1.161022,0.842473
Palencia,8.766935,-2.043548,3.365323,34.310484,20.213710,1.054032,0.116129,0.123387,0.415323,0.399194
Pontevedra,12.877097,3.917097,8.400645,24.341935,14.441935,5.496452,1.087419,1.539355,1.827419,1.058387
Salamanca,9.130538,-1.814409,3.667097,32.111828,20.202151,0.687097,0.123871,0.062366,0.184946,0.350323
Santa Cruz de Tenerife,17.610685,10.306754,13.984577,34.426411,21.782258,0.725101,0.229839,0.182863,0.118750,0.195766
Segovia,7.504435,-1.999194,2.753629,32.282258,20.032258,1.297581,0.315323,0.134677,0.350000,0.504839
Sevilla,15.455699,3.487097,9.492688,26.032258,16.206452,0.530323,0.135914,0.036774,0.047097,0.310538
Soria,8.767990,-2.239206,3.269231,38.059553,25.017370,1.321340,0.326551,0.212903,0.236973,0.552357
Tarragona,12.311559,3.068011,7.714516,38.282258,22.279570,0.206183,0.057796,0.068548,0.030108,0.054839
Teruel,9.188994,-1.021252,4.094687,43.554080,26.552182,0.434156,0.136433,0.071727,0.057495,0.170778
Toledo,12.243548,-0.305806,6.002903,25.361290,16.490323,0.236129,0.048065,0.018065,0.034194,0.137097
Valladolid,9.098387,-2.371371,3.379435,25.971774,16.350806,0.754032,0.058065,0.020161,0.270161,0.405645
Val√®ncia/Valencia,15.401129,2.860806,9.134839,28.153226,17.903226,0.040645,0.025484,0.003871,0.003548,0.007742
Zamora,9.838958,-1.947395,3.978412,30.414392,18.803970,0.679156,0.023325,0.100993,0.173697,0.381141
Zaragoza,10.594700,0.793088,5.706682,43.465438,26.400922,0.603456,0.205760,0.088018,0.071429,0.238249
√Åvila,9.883871,-1.529032,4.218387,31.729032,18.658065,0.499355,0.114194,0.012258,0.141290,0.232258

***Mayores temperaturas m√°ximas por estaci√≥n***
Vamos a mostrar los 3 valores mas altos de temperatura m√°xima que se han registrado en el mes.

Es un ejemplo de c√≥mo ordenar por columna, ***mostramos solo las columnas que nos interesan y de esas columnas mostramos solo las primeras 3 filas.***

In [20]:
df.sort_values(by='temp_max',ascending=False)[['fecha','estacion','provincia','temp_max']].head(3)

         fecha                 estacion               provincia  temp_max
437 2019-01-13  La Aldea de San Nicol√°s              Las Palmas      27.8
676 2019-01-13      La Palma Aeropuerto  Santa Cruz de Tenerife      26.1
427 2019-01-26                   P√°jara              Las Palmas      25.7

Menores temperaturas m√≠nimas por estaci√≥n

In [21]:
df.sort_values(by='temp_min',ascending=True)[['fecha','estacion','provincia','temp_min']].head(5)

         fecha                 estacion   provincia  temp_min
522 2019-01-21  Villanueva de la Ca√±ada      Madrid     -20.5
639 2019-01-06                  Cu√©llar     Segovia     -12.1
763 2019-01-06          Sard√≥n de Duero  Valladolid     -11.8
639 2019-01-07                  Cu√©llar     Segovia     -11.4
18  2019-01-11                   Munera    Albacete     -11.3

***M√°ximas diferencias entre temperatura max y min por provincia***

Ahora calcularemos una nueva columna restando de la temperatura m√°xima la temperatura m√≠nima. Vemos que simplemente restamos columnas. Pandas es intuitivo.

In [23]:
df['diff_temp_min_max']=df['temp_max']-df['temp_min']
df.iloc[df.reset_index().groupby('provincia')['diff_temp_min_max'].idxmax()].sort_values(by='diff_temp_min_max',ascending=False)[['fecha','estacion','provincia','diff_temp_min_max','temp_min','temp_max']].head(3)

,fecha,estacion,provincia,diff_temp_min_max,temp_min,temp_max
522,2019-01-21,Villanueva de la Ca√±ada,Madrid,30.9,-20.5,10.4
763,2019-01-06,Sard√≥n de Duero,Valladolid,26.6,-11.8,14.8
639,2019-01-06,Cu√©llar,Segovia,26.6,-12.1,14.5

Mayores rachas de viento en un d√≠a por provincia

In [24]:
df.iloc[df.reset_index().groupby('provincia')['viento_racha'].idxmax()].sort_values(by='viento_racha',ascending=False)[['fecha','estacion','provincia','viento_racha']].head(5)

         fecha                      estacion           provincia  viento_racha
0   2019-01-29               Estaca de Bares            A Coru√±a         146.0
139 2019-01-29                    Machichaco             Bizkaia         144.0
464 2019-01-28          Puerto de San Isidro                Le√≥n         129.0
231 2019-01-27  La Pobla de Benifass√†-Fredes  Castell√≥/Castell√≥n         129.0
370 2019-01-27    Sierra de Alfabia, Bunyola       Illes Balears         127.0

Mayores velocidades de viento medio en un d√≠a por provincia

In [25]:
df.iloc[df.reset_index().groupby('provincia')['viento_vel_max'].idxmax()].sort_values(by='viento_vel_max',ascending=False)[['fecha','estacion','provincia','viento_vel_max']].head(5)

         fecha         estacion          provincia  viento_vel_max
747 2019-01-23            Zarra  Val√®ncia/Valencia           116.0
139 2019-01-23       Machichaco            Bizkaia           113.0
0   2019-01-29  Estaca de Bares           A Coru√±a           103.0
322 2019-01-04     Campis√°balos        Guadalajara            84.0
381 2019-01-24        Capdepera      Illes Balears            83.0

M√°ximas velocidades de viento por provincia de media

In [26]:
df.groupby('provincia').mean()[['viento_vel_max']].sort_values(by='viento_vel_max',ascending=False).head(5)

                    viento_vel_max
provincia
Teruel                   26.552182
Zaragoza                 26.400922
Castell√≥/Castell√≥n       25.635484
Soria                    25.017370
Tarragona                22.279570

M√°ximas diferencias de temperatura m√°xima entre d√≠as

In [27]:
df['temp_max_shifted']=df.groupby('estacion')['temp_max'].transform('shift')
df['dif_prev_temp_max']=df.temp_max-df.temp_max_shifted
df.iloc[df.reset_index().groupby('provincia')['dif_prev_temp_max'].idxmax()].sort_values(by='dif_prev_temp_max',ascending=False)[['fecha','estacion','provincia','dif_prev_temp_max']].head(5)

         fecha                       estacion provincia  dif_prev_temp_max
637 2019-01-02  La Pinilla, estaci√≥n de esqu√≠   Segovia               15.1
719 2019-01-02                    Mosqueruela    Teruel               15.0
503 2019-01-02          Puerto de Navacerrada    Madrid               14.9
152 2019-01-04          Palacios de la Sierra    Burgos               14.8
82  2019-01-02          Puerto de Leitariegos  Asturias               14.2

***Racha de d√≠as seguidos lloviendo por provincia y estaci√≥n***

El proceso de obtener rachas, es decir, n√∫mero de d√≠as en los que pasa un suceso (en este caso llover) consecutivamente es un proceso algo m√°s elaborado pero que se puede realizar en unas pocas l√≠neas de c√≥digo aprovechando las siguientes funcionalidades del dataframe:

***Creaci√≥n de una nueva columna*** cuyo valor se obtiene a partir de otra columna aplicando una funci√≥n lambda (c√°lculo de la columna ¬´llueve¬ª).
***Comparaci√≥n de valores*** (operador ¬´ne¬ª) entre columnas de una misma fila.
***Desplazamiento*** (m√©todo ¬´shift¬ª) de una columna para disponer de datos anteriores en la misma fila.
***Generaci√≥n de un n√∫mero secuencial*** (identificador) de los elementos de cada grupo (m√©todo ¬´cumsum¬ª).
***C√°lculo del n√∫mero de elementos de un grupo*** (m√©todo ¬´cumcount¬ª).
***Asignaci√≥n de un valor a una columna*** para las filas que cumplan una condici√≥n (llueve==0).

In [28]:
df['llueve']=df.prec_dia.apply(lambda x: 1 if x>0 else 0)

df.sort_values(by=['estacion','fecha'],ascending=True,inplace=True,ignore_index=True)

df['start_of_streak'] = df.llueve.ne(df['llueve'].shift())

df['estacion_anterior']=df['estacion'].shift()
df.loc[(df['estacion'].ne(df['estacion_anterior'])), 'start_of_streak'] = True

df['streak_id'] = df['start_of_streak'].cumsum()
df['dias_seguidos_lloviendo'] = df.groupby('streak_id').cumcount() + 1
df.loc[(df['llueve']==0), 'dias_seguidos_lloviendo'] = 0

df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=False)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

                     estacion provincia  dias_seguidos_lloviendo
8090                   Elgeta  Gipuzkoa                       25
17483             Punta Galea   Bizkaia                       23
247                   Abadi√±o   Bizkaia                       22
24551               Zumarraga  Gipuzkoa                       20
8679                    Forua   Bizkaia                       18
15716                  Orozko   Bizkaia                       18
19622  Santiago de Compostela  A Coru√±a                       16
12089                  Llanes  Asturias                       16
4804                   Burela      Lugo                       16
12616                    Lugo      Lugo                       16

***D√≥nde llueve menos d√≠as seguidos por provincia y estaci√≥n***

In [29]:
df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=True)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

,estacion,provincia,dias_seguidos_lloviendo
19437,Santa Susanna,Barcelona,0
6727,Chinchilla,Albacete,0
8804,"Frontera, Sabinosa",Santa Cruz de Tenerife,0
12865,Madridejos,Toledo,0
8432,Figueres,Girona,0
1736,Almer√≠a Aeropuerto,Almer√≠a,0
7812,El Ejido,Almer√≠a,0
18135,Roquetas de Mar,Almer√≠a,0
12431,"Lorca, Zarcilla de Ramos",Murcia,0
12152,Llimiana,Lleida,0

Mostrar cu√°ntas estaciones hay por provincia y un total general
Podemos tener copias ¬´temporales¬ª del dataframe para hacer operaciones sin destruir el original. Te lo ilustramos a trav√©s de este ejemplo.

Supongamos que queremos obtener el n√∫mero de estaciones meteorol√≥gicas que hay por cada provincia.

Para ello nos quedamos con solo las columnas relevantes: provincia y estaci√≥n. Luego eliminamos las filas duplicadas para tener los pares √∫nicos de provincia-estaci√≥n.

Ya nos queda simplemente agrupar por provincia y sacar el n√∫mero de filas por cada grupo. Todo eso lo hacemos en 1 sola l√≠nea de c√≥digo.

Finalmente a√±adimos otra fila adicional al resultado con el total de estaciones (un SUM t√≠pico de Excel).

In [30]:
df_estaciones=df[['provincia','estacion']].drop_duplicates().groupby('provincia').count()
df_estaciones.loc['Total de estaciones'] = df_estaciones['estacion'].sum()
df_estaciones

                        estacion
provincia
A Coru√±a                      16
Alacant/Alicante              12
Albacete                      13
Almer√≠a                       11
Araba/√Ålava                    8
Asturias                      23
Badajoz                       23
Barcelona                     21
Bizkaia                       11
Burgos                        14
Cantabria                     19
Castell√≥/Castell√≥n            10
Ceuta                          1
Ciudad Real                   10
Cuenca                        13
C√°ceres                       29
C√°diz                         15
C√≥rdoba                       15
Gipuzkoa                      14
Girona                        17
Granada                       12
Guadalajara                    9
Huelva                        14
Huesca                        24
Illes Balears                 38
Ja√©n                          12
La Rioja                       8
Las Palmas                    36
Le√≥n                          14
Lleida                        20
Lugo                          11
Madrid                        20
Melilla                        1
Murcia                        24
M√°laga                        22
Navarra                       20
Ourense                       12
Palencia                       8
Pontevedra                    10
Salamanca                     15
Santa Cruz de Tenerife        32
Segovia                        8
Sevilla                       15
Soria                         13
Tarragona                     12
Teruel                        17
Toledo                        10
Valladolid                     8
Val√®ncia/Valencia             20
Zamora                        13
Zaragoza                      14
√Åvila                         10
Total de estaciones          797